* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: rgb(216, 169, 107);
  width: 20rem;
}

.menu button {
  padding: 1rem 3rem;
  border: none;
  font-weight: 550;
  background-color: inherit;
}

body {
  background-color: rgb(243, 235, 224);
}

html {
  font-size: 62.5%;
}

.menu_containerr {
  z-index: 1000;
  position: absolute;
  display: flex;
  text-align: left;
  /* padding: 2rem; */
  width: 80%;
  gap: 1.2rem;
  height: 50rem;
  flex-direction: column;
  background-color: rgb(220, 160, 81);
  background-color: rgba(0, 0, 0, 0.99);
}
.menu_header {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 0.5rem 1.2rem;
  border-bottom: 4px solid rgb(217, 152, 67);
  left: 0;
  justify-content: space-between;
  opacity: 100%;
  transition: all 2s;
}
.menu_header h2 {
  color: whitesmoke;
  display: inline;
}
.menu_containerr button {
  margin-left: 2rem;
  text-align: left;

  color: rgb(217, 152, 67);
}

.hide_menuside {
  opacity: 0;
  transition: all 0.7s;
  visibility: hidden;
  pointer-events: none;
}

.menu_display {
  width: 92%;
  height: 100%;
  margin: 1.2rem;
  background-color: rgb(217, 40, 214);
  border: 2px solid rgb(217, 152, 67);
}

/* &&&&&&&&&&&&&&&& */
.registration_container {
  border-radius: 10px;
  width: 37rem;
  height: 50rem;
  margin: 4rem auto;
  padding: 0.5rem 0;
  background-color: rgb(223, 166, 51);
  background-color: rgb(228, 207, 163);
}

.regis_form {
  display: flex;
  flex-direction: column;

  font-size: 2.4rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}

.regis_form input {
  height: 3.2rem;
  border-radius: 6px;
  font-size: 1.8rem;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.823);
  border: none;
}

.regis_form input :active {
  border: none;
}

.regis_form label {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
}

.regis_form button {
  width: 100%;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 8px;
  color: white;
  color: black;
  background-color: rgb(97, 228, 97);
  background-color: rgba(248, 159, 6, 0.948);
  border: 0;
  margin: 0 auto;
}

.error_p {
  margin: 0;
  color: red;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}
.err {
  opacity: 0;
}
.logo {
  width: 40%;
  aspect-ratio: 1/1;
  background-color: inherit;
  margin: 2rem auto;
  padding-top: 1rem;
  border-radius: 50%;
}

.logo-img {
  height: 100%;

  width: 100%;
  border-radius: 50%;
}

.logo_heading {
  text-align: center;
  font-size: 2.5rem;
}

.prom-container {
  width: 40rem;
  height: 80rem;
  height: fit-content;
  background-color: rgb(243, 235, 224);
  margin: 0 auto;
}

.top_nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 6px;
}
.top_nav button {
  border: none;
  background-color: inherit;
  font-size: 2.6rem;
}
.top_nav button span {
  border: none;
  font-size: 2.2rem;
}
.prom_logo {
  width: 20rem;
  margin: 1.5rem 25%;
  border-radius: 50%;
  /* height: 10rem; */
}

.header {
  text-align: center;
}
.heading {
  text-align: center;
  font-size: 2.4rem;
  padding: 0;
  margin: 0;
}

.header p {
  font-size: 1.8rem;
  margin: 0;
}

.promtext {
  padding: 4rem;
}

.promtext p {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.711);
  margin-bottom: 3.6rem;
}

.promtext img {
  width: 34rem;
}

.btn_apply {
  width: 100%;
  padding: 0.8rem;
  font-size: 2rem;
  border-radius: 10px;
  border: none;
  background-color: rgb(68, 255, 47);
}

.home2 {
  width: 80%;
  padding-top: 5rem;
  margin: 0 auto;
  align-items: center;
}

.home2 h5 {
  font-size: 2rem;
  margin-top: 2rem;
}

.home2 button {
  margin-bottom: 3rem;
}

.home2 button:hover {
  background-color: rgb(32, 184, 16);
  /* border: 2px solid rgb(82, 82, 244); */
  /* box-shadow: 4px 12px 2px rgb(144, 230, 144); */
}

.home2 p {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  opacity: 50%;
  font-weight: 10;
  text-align: center;
}

.home2 span {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.select_country {
  height: 3rem;
  font-size: 2rem;
  font-weight: 600;
  /* width: 15rem; */
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.custo_container {
  padding: 1rem 0;
  background-color: rgb(231, 212, 188);
  background-color: rgb(215, 237, 247);
  border: 2px solid rgba(0, 0, 0, 0);
  height: 10rem;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
}
.Userin {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  justify-content: space-between;
}
.prom_logo2 {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 20rem;
  height: 10rem;
  /* border-radius: 50%; */
  /* height: 55%; */
}

.custoprof {
  /* display: flex; */
  align-items: center;
  width: 18rem;
}

.blackk {
  background-color: black;
}
.custoprof h2 {
  font-size: 2rem;
  font-weight: 520;
}

.countrye {
  margin-left: 0 !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}

.custoprof h2 span {
  color: rgb(43, 199, 43);
  font-weight: 600;
  margin: 1.5rem;

  /* background-color: rebeccapurple; */
}

.custoprof span {
  font-size: 1.8rem;
  /* display: flex; */
}
.custo_container p {
  font-size: 1.8rem;
}
.profilecusto {
  font-size: 4rem;
  border: none;
  color: rgb(43, 199, 43);
  width: 4rem;
  height: 4rem;
}
/* 88 */
.opac {
  opacity: 0;
}

.landing_page {
  padding: 1rem;
}
.landing_page h6 {
  font-size: 1.6rem;
}

.landing_page p {
  font-size: 1.6rem;
  margin: 1rem;
}

.landing_page button {
  width: 100%;
  margin-top: 2rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  background-color: rgb(216, 169, 107);
}

.myQuizes {
  padding: 0 2rem;
}

.myQuizes h4 {
  font-size: 2rem;
}

.myQuizes button {
  background-color: rgb(97, 214, 76);
  height: 3.4rem;
  border-radius: 2rem;
  margin: 1rem 0;
}
.btn_next {
  width: 5rem;
  background-color: rgb(11, 11, 45);
}

.congra_message {
  background-color: antiquewhite;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);

  padding: 1rem 0.5rem;
}

.congra_message h2 {
  font-size: 2.4rem;
  font-weight: 600 !important;
}

.whatsapp {
  font-size: 2rem;
  background-color: black;
  height: 3rem;
  color: antiquewhite;
  align-self: center;
  text-align: center;
}

.congra_message a {
  margin: 1rem;
  width: 100% !important;
  text-align: center;
  background-color: rgb(12, 171, 12);
  margin: 2rem auto;
  font-size: 4rem;
}
.congra_message a {
  display: flex;
  align-items: center;
  width: 100% !important;
  margin: 1rem auto;
  text-align: center;
  background-color: rgb(12, 171, 12);
  margin: 2rem auto;
  padding: 2rem 42%;
  border-radius: 10px;
  /* padding-bottom: 4rem; */
  font-size: 4rem;
}

.askmoney_p {
  font-size: 2rem;
}

/* **********
registratio
*************** */
